<% include partials/head %>

<body>
<% include partials/header %>


<script type="text/javascript">
    window.alert("Logged in");
</script>

<div class="search-form">
    <h1>Dahsboard</h1>

    <form action="/search" method="GET">
        <input type="text" name="title" placeholder="Search...."><br>
        <button>Search</button>
    </form>
</div>

<!-- Ausgabe Season Image -->
<% trackings.forEach(function(track,index){ %>
<p><%= index %></p>
<img id=<%= index %> src="data:image/jpeg;base64,<%=  new Buffer(track.season_img.data, 'hex').toString('base64') %>" />
<% }) %>

<!-- Ausgabe Poser Image -->
<% trackings.forEach(function(track,index){ %>
<p><%= index %></p>
<img id=<%= index %> src="data:image/jpeg;base64,<%=  new Buffer(track.poster_img.data, 'hex').toString('base64') %>" />

<% }) %>

<% include partials/footer %>